body
{
    text-align: center;
}

#app {
    background-color: rgb(119, 182, 236);
}

#myCarousel
{
    background-color: rgba(34, 139, 238, 0.507);
}

#myCarousel img
{
    height: 300px;
    margin-top: 35px;
}

.carousel-inner p
{
    margin-top: 15px;
    color : rgb(7, 94, 209);
    font-size: 20px;
}